#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid lightgray;
}

.logo {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}
